In [1]:
import sys
import os
import logging

# 添加src到Python路径
notebook_dir = os.path.abspath('')  # 获取当前工作目录
parent_dir = os.path.dirname(notebook_dir)

# 将上级目录添加到 sys.path
sys.path.append(parent_dir)

import pandas as pd
import numpy as np

from src.models.data_models import InputData
from src.database.database import db_manager
from src.database.repository import FuturesDataRepository
from datetime import datetime

In [2]:
session = db_manager.SessionLocal()
fd = FuturesDataRepository(session)
fd.get_latest_data('螺纹钢主连')

{'symbol': '螺纹钢主连',
 'trade_date': datetime.datetime(2025, 11, 24, 0, 0),
 'high_price': Decimal('3061.0000'),
 'close_price': Decimal('3060.0000'),
 'change_percent': Decimal('0.0000'),
 'turnover': Decimal('6716852900.0000'),
 'data_source': 'akshare',
 'created_at': datetime.datetime(2025, 11, 23, 21, 13, 43, 102476, tzinfo=datetime.timezone(datetime.timedelta(seconds=28800))),
 'symbol_code': '螺纹',
 'id': 4131,
 'open_price': Decimal('3057.0000'),
 'low_price': Decimal('3050.0000'),
 'change_amount': Decimal('0.0000'),
 'volume': 219805,
 'open_interest': 1495017,
 'status': 'pending'}

In [12]:
db_manager.create_tables()

In [21]:
import numpy as np
import pandas as pd

In [ ]:
session = db_manager.SessionLocal()
result = session.query(InputData).all()

pd.DataFrame(result)

                                                      0
0     <src.models.data_models.InputData object at 0x...
1     <src.models.data_models.InputData object at 0x...
2     <src.models.data_models.InputData object at 0x...
3     <src.models.data_models.InputData object at 0x...
4     <src.models.data_models.InputData object at 0x...
...                                                 ...
4056  <src.models.data_models.InputData object at 0x...
4057  <src.models.data_models.InputData object at 0x...
4058  <src.models.data_models.InputData object at 0x...
4059  <src.models.data_models.InputData object at 0x...
4060  <src.models.data_models.InputData object at 0x...

[4061 rows x 1 columns]

In [24]:
dataResult = pd.read_sql(session.query(InputData).statement, session.bind)

In [ ]:
indexData = dataResult['close_price'].values
import talib
talib.EMA(indexData, timeperiod=10)

array([          nan,           nan,           nan, ..., 3061.98520275,
       3061.07880225, 3060.88265639], shape=(4061,))

In [44]:
from src.analysis.index_calculater import IndexCalculater

In [ ]:
IndexCalculater()

AttributeError: 'Series' object has no attribute 'valuse'